<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="author" content="Sebastian Hof">
    <meta name="description"
          content="Professional homepage of Sebastian Hof, Software Engineer and Research Associate. I offer advanced software engineering consulting services.">
    <meta name="keywords"
          content="Sebastian Hof, Software Engineering, Consulting, Design, Development, Analytics, Web Development, App Development, Resume, CV">
    <!-- Title -->
    <title>sebastianhof.com</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon_152x152.png">

    <!-- Google Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,300,100' rel='stylesheet' type='text/css'/>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>

    <!-- Font awesome -->
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel='stylesheet' type='text/css'/>

    <!-- Themify -->
    <link href="bower_components/themify-icons/themify-icons.css" rel='stylesheet' type='text/css'/>

    <!-- Custom Fonts -->
    <link href="bower_components/roboto-fontface/css/roboto-fontface.css" rel="stylesheet" type="text/css"/>

    <!-- Animate.css -->
    <link href="bower_components/animate.css/animate.min.css" rel="stylesheet" type="text/css"/>

    <!-- CSS Template -->
    <link rel="stylesheet" href="css/theme.css"/>
    <link rel="stylesheet" href="css/color/blue-beige.css" id="color"/>

    <!-- CSS Main -->
    <link rel="stylesheet" href="css/main.css"/>

</head>

<body class="header-horizontal" ng-controller="AppController as app">

<!-- Loader -->
<div id="page-loader" class="bg-white"></div>
<!-- Loader / End -->

<!-- Header -->
<header id="header" class="bg-white hidden-sm hidden-xs">

    <!-- Logo -->
    <div class="logo bg-primary">
        <h1 class="name">sebastianhof.com</h1>
        <span class="caption text-secondary">Software engineering</span>
    </div>

    <!-- Navigation -->
    <nav id="main-menu">
        <ul class="nav nav-horizontal">
            <li><a href="#/">{{ 'HOME.HOME' | translate }}</a></li>
            <li><a href="#/about">{{ 'ABOUT.ABOUT' | translate }}</a></li>
            <li><a href="#/projects">{{ 'PROJECTS.PROJECTS' | translate }}</a></li>
            <li><a href="#/contact">{{ 'CONTACT.CONTACT' | translate }}</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ app.currentLang }}</a>
                <ul class="dropdown-menu">
                    <li><a ng-click="app.selectLang('EN')">English</a></li>
                    <li><a ng-click="app.selectLang('DE')">Deutsch</a></li>
                    <li><a ng-click="app.selectLang('CN')">中文</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Social Media -->
    <div class="social-media pull-right">
        <a href="https://linkedin.com/in/sebastianhof" class="icon icon-xs margin-l-20" target="_blank"><i
                class="fa fa-linkedin text-muted"></i></a>
        <a href="https://www.xing.com/profile/Sebastian_Hof7" class="icon icon-xs margin-l-20" target="_blank"><i
                class="fa fa-xing text-muted"></i></a>
        <a href="https://github.com/sebastianhof" class="icon icon-xs margin-l-20" target="_blank"><i
                class="fa fa-github text-muted"></i></a>
        <a href="https://www.facebook.com/1656428665" class="icon icon-xs margin-l-20" target="_blank"><i
                class="fa fa-facebook text-muted"></i></a>
        <a href="https://twitter.com/snhof" class="icon icon-xs" target="_blank"><i
                class="fa fa-twitter text-muted"></i></a>
    </div>

</header>
<!-- Header / End -->

<!-- Content -->
<div id="content" class="bg-white" ng-viewport></div>
<!-- Content / End -->
<footer id="footer" class="bg-primary" data-sr="enter bottom">
    <div class="container container-wide text-center padding-20">
        <span>&copy;&nbsp;2015&nbsp;sebastianhof.com</span>
        <span><a href="#/imprint" class="btn btn-xs text-white" style="padding: 5px;">{{ 'IMPRINT.IMPRINT' |
            translate}}</a></span>
        <span><a href="#/privacy" class="btn btn-xs text-white" style="padding: 5px;">{{ 'PRIVACY.PRIVACY' |
            translate}}</a></span>
    </div>
</footer>

<!-- Mobile Navigation -->
<a id="mobile-nav-toggle" class="icon icon-circle icon-sm icon-primary icon-hover visible-xs visible-sm"
   ng-click="app.toggleMobileNav()">
    <i class="ti-menu"></i>
</a>
<nav id="mobile-nav" class="bg-white">
    <div class="mobile-nav-wrapper">
        <!-- Avatar -->
        <img src="images/profile-96.png" alt="..." class="img-circle margin-b-30">
        <!-- Nav -->
        <ul class="nav nav-vertical">
            <li><a href="#/"><span>{{ 'HOME.HOME' | translate }}</span></a></li>
            <li><a href="#/about"><span>{{ 'ABOUT.ABOUT' | translate }}</span></a></li>
            <li><a href="#/projects"><span>{{ 'PROJECTS.PROJECTS' | translate }}</span></a></li>
            <li><a href="#/contact"><span>{{ 'CONTACT.CONTACT' | translate }}</span></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">{{ app.currentLang }}</a>
                <ul class="dropdown-menu">
                    <li><a ng-click="app.selectLang('EN')">English</a></li>
                    <li><a ng-click="app.selectLang('DE')">Deutsch</a></li>
                    <li><a ng-click="app.selectLang('CN')">中文</a></li>
                </ul>
            </li>
        </ul>
        <!-- Social Media -->
        <div class="margin-t-20">
            <ul class="list-inline margin-t-10">
                <li><a href="https://linkedin.com/in/sebastianhof" class="icon icon-xs"><i
                        class="fa fa-linkedin text-muted"></i></a></li>
                <li><a href="https://www.xing.com/profile/Sebastian_Hof7" class="icon icon-xs"><i
                        class="fa fa-xing text-muted"></i></a></li>
                <li><a href="https://github.com/sebastianhof" class="icon icon-xs"><i
                        class="fa fa-github text-muted"></i></a></li>
                <li><a href="https://www.facebook.com/1656428665" class="icon icon-xs"><i
                        class="fa fa-facebook text-muted"></i></a></li>
                <li><a href="https://twitter.com/snhof" class="icon icon-xs"><i
                        class="fa fa-twitter text-muted"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="mobile-nav-close icon icon-hover icon-xs icon-circle icon-primary" ng-click="app.toggleMobileNav()">
        <i class="fa fa-times"></i>
    </div>
</nav>

<!-- JS Libraries -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- Angular JS -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script src="bower_components/angular-new-router/dist/router.es5.min.js"></script>
<script src="components/about/about.js"></script>
<script src="components/contact/contact.js"></script>
<script src="components/home/home.js"></script>
<script src="components/projects/projects.js"></script>
<script src="components/imprint/imprint.js"></script>
<script src="components/privacy/privacy.js"></script>
<script src="app.js"></script>

<!-- JS Plugins -->

<script>
    window.paceOptions = {
        target: '#page-loader',
        ajax: false
    };
</script>
<script src="bower_components/PACE/pace.min.js"></script>
<script>

    Pace.on('done', function () {
        $('#page-loader').fadeOut(200);

    });

</script>

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-68870001-1', 'auto');
    ga('send', 'pageview');

</script>

<!-- ScrollReveal -->
<script src="bower_components/scrollreveal/dist/scrollReveal.min.js"></script>
<script>
    var config = {
        reset: true
    };
    window.sr = new scrollReveal(config);
</script>


</body>