<section class="section padding-60 top">

    <div class="container container-wide">

        <h6 class="margin-b-50">{{ 'ABOUT.RESUME' | translate }}</h6>

        <div class="row padding-lg">

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- Resume Box / About -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-user"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.SUMMARY' | translate }}</strong></h4>

                    <p class="lead">
                        {{ 'SUMMARY.TEXT' | translate }}
                    </p>

                    <p>{{ 'SUMMARY.DESCRIPTION' | translate }}</p>
                </div>

                <!-- Resume Box / Jobs -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-suitcase"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.WORK' | translate }}</strong></h4>

                    <div class="timeline">
                        <about-timeline-event timespan="WORK.RESEARCH.TIMESPAN" title="WORK.RESEARCH"
                                              location="WORK.RESEARCH.LOCATION"
                                              descriptions="['WORK.RESEARCH.DESCRIPTION_1', 'WORK.RESEARCH.DESCRIPTION_2', 'WORK.RESEARCH.DESCRIPTION_3', 'WORK.RESEARCH.DESCRIPTION_4']"></about-timeline-event>
                        <about-timeline-event timespan="WORK.INBITS.TIMESPAN" title="WORK.INBITS"
                                              location="WORK.INBITS.LOCATION"
                                              descriptions="['WORK.INBITS.DESCRIPTION_1', 'WORK.INBITS.DESCRIPTION_2']"></about-timeline-event>
                        <about-timeline-event timespan="WORK.STUDENT_DEVELOPER.TIMESPAN" title="WORK.STUDENT_DEVELOPER"
                                              location="WORK.STUDENT_DEVELOPER.LOCATION"
                                              descriptions="['WORK.STUDENT_DEVELOPER.DESCRIPTION_1', 'WORK.STUDENT_DEVELOPER.DESCRIPTION_2']"></about-timeline-event>
                        <about-timeline-event timespan="WORK.STUDENT_TUTOR.TIMESPAN" title="WORK.STUDENT_TUTOR"
                                              location="WORK.STUDENT_TUTOR.LOCATION"
                                              descriptions="['WORK.STUDENT_TUTOR.DESCRIPTION_1', 'WORK.STUDENT_TUTOR.DESCRIPTION_2']"></about-timeline-event>
                    </div>
                </div>

                <!-- Resume Box / Education -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-graduation-cap"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.EDUCATION' | translate }}</strong></h4>

                    <div class="timeline">
                        <about-timeline-event timespan="EDUCATION.IIS.TIMESPAN" title="EDUCATION.IIS"
                                              location="EDUCATION.IIS.LOCATION"
                                              description="EDUCATION.IIS.DESCRIPTION"></about-timeline-event>
                        <about-timeline-event timespan="EDUCATION.UIBE.TIMESPAN" title="EDUCATION.UIBE"
                                              location="EDUCATION.UIBE.LOCATION"
                                              description="EDUCATION.UIBE.DESCRIPTION"></about-timeline-event>
                        <about-timeline-event timespan="EDUCATION.WINF.TIMESPAN" title="EDUCATION.WINF"
                                              location="EDUCATION.WINF.LOCATION"
                                              description="EDUCATION.WINF.DESCRIPTION"></about-timeline-event>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- Resume Box / Specialities -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-bullseye"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.SPECIALITIES' | translate }}</strong></h4>
                    <about-speciality title="SPECIALITIES.WEB_DEVELOPMENT"
                                      descripion="SPECIALITIES.WEB_DEVELOPMENT.DESCRIPTION"
                                      icon="fa-globe"></about-speciality>
                    <about-speciality title="SPECIALITIES.MOBILE_DEVELOPMENT"
                                      descripion="SPECIALITIES.MOBILE_DEVELOPMENT.DESCRIPTION"
                                      icon="fa-mobile"></about-speciality>
                    <about-speciality title="SPECIALITIES.BIG_DATA" descripion="SPECIALITIES.BIG_DATA.DESCRIPTION"
                                      icon="fa-database"></about-speciality>
                    <about-speciality title="SPECIALITIES.IOT" descripion="SPECIALITIES.IOT.DESCRIPTION"
                                      icon="fa-plug"></about-speciality>
                    <about-speciality title="SPECIALITIES.PROCESS_MINING"
                                      descripion="SPECIALITIES.WEB_DEVELOPMENT.PROCESS_MINING"
                                      icon="fa-bar-chart"></about-speciality>
                </div>

                <!-- Resume Box / Skills -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-line-chart"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.SKILLS' | translate }}</strong></h4>
                    <h6><strong>{{ 'SKILLS.PROGRAMMING_LANGUAGES' | translate}}</strong></h6>
                    <about-skill value="100" title="Javascript"></about-skill>
                    <about-skill value="70" title="Java"></about-skill>
                    <about-skill value="60" title="Python"></about-skill>
                    <about-skill value="50" title="C#"></about-skill>
                    <about-skill value="50" title="Scala"></about-skill>
                    <about-skill value="30" title="Objective-C"></about-skill>
                    <about-skill value="30" title="Swift"></about-skill>
                    <h6><strong>{{ 'SKILLS.WEB_DEVELOPMENT' | translate}}</strong></h6>
                    <about-skill value="100" title="HTML5/CSS3"></about-skill>
                    <about-skill value="90" title="AngularJS"></about-skill>
                    <about-skill value="70" title="NodeJs"></about-skill>
                    <about-skill value="50" title="JavaEE"></about-skill>
                    <about-skill value="50" title="Play Framework"></about-skill>
                    <about-skill value="50" title="ASP.NET"></about-skill>
                    <about-skill value="30" title="Spring"></about-skill>
                    <h6><strong>{{ 'SKILLS.MOBILE_DEVELOPMENT' | translate}}</strong></h6>
                    <about-skill value="50" title="Ionic"></about-skill>
                    <about-skill value="40" title="iOS"></about-skill>
                    <h6><strong>{{ 'SKILLS.DATABASES' | translate}}</strong></h6>
                    <about-skill value="80" title="SQL"></about-skill>
                    <about-skill value="70" title="MongoDB"></about-skill>
                    <about-skill value="50" title="MySQL"></about-skill>
                    <about-skill value="50" title="Oracle"></about-skill>
                    <h6><strong>{{ 'SKILLS.APPLICATIONS' | translate}}</strong></h6>
                    <about-skill value="80" title="Microsoft Office"></about-skill>
                    <about-skill value="60" title="Adobe Photoshop"></about-skill>
                    <h6><strong>{{ 'SKILLS.METHODOLOGIES' | translate}}</strong></h6>
                    <about-skill value="80" title="BPM"></about-skill>
                    <about-skill value="70" title="Agile Project Management"></about-skill>
                    <about-skill value="60" title="UML"></about-skill>
                    <about-skill value="40" title="Big data"></about-skill>
                    <about-skill value="40" title="Data science"></about-skill>
                </div>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <!-- Resume Box / Certifications -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-certificate"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.CERTIFICATIONS' | translate }}</strong></h4>
                    <ul class="list-unstyled">
                        <li>ISTQB Certified Tester Foundation</li>
                        <li>Microsoft Certified Professional</li>
                        <li>edX: Introduction to Typescript</li>
                        <li>edx: Introduction to Big Data with Apache Spark</li>
                        <li>edx: Scalable Machine Learning</li>
                        <li>Coursera: Machine Learning</li>
                        <li>Coursera: Process Mining: Data science in Action</li>
                        <li>Coursera: Introduction to Software Product Management</li>
                    </ul>
                </div>


                <!-- Resume Box / Languages -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-flag"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.LANGUAGES' | translate }}</strong></h4>

                    <about-skill value="100" title="LANGUAGES.GERMAN"></about-skill>
                    <about-skill value="90" title="LANGUAGES.ENGLISH"></about-skill>
                    <about-skill value="60" title="LANGUAGES.THAI"></about-skill>
                    <about-skill value="50" title="LANGUAGES.CHINESE"></about-skill>
                    <about-skill value="20" title="LANGUAGES.FRENCH"></about-skill>
                    <about-skill value="20" title="LANGUAGES.SPANISH"></about-skill>

                </div>

                <!-- Resume Box / Hobbies -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-camera"></i></span>
                    <h4 data-sr="enter left, move 32px"><strong>{{ 'ABOUT.INTERESTS' | translate }}</strong></h4>
                    <ul class="list-inline">
                        <li>
                            <about-interest title="INTERESTS.FITNESS" icon="fa-heartbeat"></about-interest>
                        </li>
                        <li>
                            <about-interest title="INTERESTS.TRAVEL" icon="fa-suitcase"></about-interest>
                        </li>
                        <li>
                            <about-interest title="INTERESTS.PHOTOGRAPHY" icon="fa-camera"></about-interest>
                        </li>
                        <li>
                            <about-interest title="INTERESTS.COOKING" icon="fa-cutlery"></about-interest>
                        </li>
                    </ul>
                </div>

                <!-- Resume Box / Download -->
                <div class="resume-box">
                    <span class="icon"><i
                            class="fa fa-download"></i></span>
                    <a href="resources/cv.pdf" class="btn btn-primary" target="_blank" data-sr="scale up 50%"><span>{{ 'ABOUT.DOWNLOAD' | translate }}</span><i
                            class="ti-file"></i></a>
                </div>

            </div>

        </div>


    </div>

</section>

<view-loaded></view-loaded>
