.top {
    margin-top: 88px;
}

.bg-home {
    background-image: url(../images/desktop-blur.jpg);
}

.bg-contact {
    background-image: url(../images/contact.jpg);
}

.img-profile-96 {
    height: 96px;
    width: 96px;
}

.img-profile {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    background-image: url('../images/profile.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.zooming {
    animation-duration: 15s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s
}


