<section class="section padding-60 top">

    <div class="container container-wide">

        <h6 class="margin-b-50">{{ 'PROJECTS.PORTFOLIO' | translate }}</h6>

        <div class="row padding-lg">

            <!-- Masonry Element -->
            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.INBITS" description="PROJECTS.INBITS.CAPTION"
                               url="/components/projects/portfolio/inbits.html"
                               image="/images/gallery-inbits.jpg"></projects-item>
            </div>

            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.FRAUNHOFER" description="PROJECTS.FRAUNHOFER.CAPTION"
                               url="/components/projects/portfolio/fraunhofer.html"
                               image="/images/gallery-fraunhofer.jpg"></projects-item>
            </div>

            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.SYMBIO" description="PROJECTS.SYMBIO.CAPTION"
                               url="/components/projects/portfolio/symbio.html"
                               image="/images/gallery-symbio.jpg"></projects-item>
            </div>

            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.COCAMA" description="PROJECTS.COCAMA.CAPTION"
                               url="/components/projects/portfolio/cocama.html"
                               image="/images/gallery-cocama.jpg"></projects-item>
            </div>

            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.COUBR" description="PROJECTS.COUBR.CAPTION"
                               url="/components/projects/portfolio/coubr.html"
                               image="/images/gallery-coubr.jpg"></projects-item>
            </div>

            <div class="margin-b-30 col-lg-6 col-sm-12 col-xs-12">
                <projects-item title="PROJECTS.HOMEPAGE" description="PROJECTS.HOMEPAGE.CAPTION"
                               url="/components/projects/portfolio/homepage.html"
                               image="/images/gallery-homepage.jpg"></projects-item>
            </div>

        </div>

    </div>

    </div>

</section>

<view-loaded></view-loaded>