<!-- Section - Contact -->
<section id="contact" class="section padding-v-60 top">

    <!-- BG Map -->
    <div id="google-map" class="bg-image" data-latitude="49.6218352" data-longitude="10.8232851" data-style="light"></div>

    <!-- Contact Box -->
    <div class="contact-box bg-secondary dark animated" data-animation="flipInY">
        <h1>Don’t hesitate to <strong>contact me</strong>!</h1>
        <!-- Contact List -->
        <!--<ul class="list-unstyled list-unstyled-icons">-->
            <!--<li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>1111-A Nowhere Lane,<br />Outta Sight,<br />State 90378, USA</li>-->
            <!--<li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="#">johnathandoe@suelo.pl</a></li>-->
            <!--<li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>+0(31)6 89764536</li>-->
        <!--</ul>-->
        <a class="btn btn-primary" data-target="messenger"><span>Use Contact Form</span><i class="ti-email"></i></a>
        <h5 class="margin-t-60">Check my social media!</h5>
        <ul class="list-inline">
            <li><a href="#" class="icon icon-circle icon-xs icon-facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icon icon-circle icon-xs icon-twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="icon icon-circle icon-xs icon-google-plus"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>

</section>
<!-- Section - Contact / End -->


<!-- Messanger -->
<a id="messenger-toggle" data-target="messenger" class="icon icon-sm icon-circle animated" data-animation="bounceIn" data-animation-delay="300"><i class="fa fa-comments"></i></a>
<div id="messenger" class="dark">
    <div id="messenger-box">
        <div class="messenger-box-content">
            <!-- Close -->
            <a class="messenger-close icon icon-hover icon-xs icon-circle icon-white" data-target="messenger"><i class="fa fa-times"></i></a>
            <!-- Avatar -->
            <img src="assets/img/photos/it-avatar-96x96.jpg" alt="..." class="img-circle margin-b-30">
            <h3>Please fill the <strong>form</strong> - I will response as fast as I can!</h3>
            <!-- Contact Form -->
            <form id="contact-form" name="contactForm" ng-submit="contact.submit(contactForm)">
                <div class="form-alert"></div>
                <div class="form-error alert alert-default"><ul></ul></div>
                <div class="form-group">
                    <label>{{ 'CONTACT.NAME' | translate }}:</label>
                    <input type="text" id="name" class="form-control"  name="name" required
                </div>
                <div class="form-group">
                    <label>{{ 'CONTACT.EMAIL' | translate }}:</label>
                    <input type="email" id="email"  class="form-control" placeholder="{{ 'CONTACT.EMAIL' | translate }}" id="email" name="email" required
                           data-validation-required-message="{{ 'CONTACT.EMAIL_TEXT' | translate }}" ng-model="contact.data.email">
                    <input class="form-control" type="text" name="email">
                </div>
                <div class="form-group">
                    <label>{{ 'CONTACT.MESSAGE_TEXT' | translate }}:</label>
                    <textarea rows="5" class="form-control" placeholder="{{ 'CONTACT.MESSAGE' | translate }}" id="message" name="message" required
                              data-validation-required-message="{{ 'CONTACT.MESSAGE_TEXT' | translate }}" ng-model="contact.data.message" rows="4"></textarea>
                </div>

                <div class="col-xs-12" ng-if="contact.error">
                    <div class="alert alert-danger" role="alert">{{ 'CONTACT.ERROR' | translate }}</div>
                </div>

                <div class="col-xs-12" ng-if="contact.success">
                    <div class="alert alert-success" role="alert">{{ 'CONTACT.SUCCESS' | translate }}</div>
                </div>

                <button type="submit" class="btn btn-secondary"><span>{{ 'CONTACT.SEND' | translate}}</span><i class="ti-email"></i></button>
            </form>
        </div>
    </div>
</div>

<load-template></load-template>

