<!-- Section - Contact -->
<section id="contact" class="section fullheight fullminheight padding-v-60">

    <!-- BG Map -->
    <div class="bg-image bg-contact animated visible infinite pulse zooming"></div>

    <!-- Contact Box -->
    <div class="contact-box bg-secondary dark animated visible bounceIn top">
        <h1><strong>{{'CONTACT.ME' | translate }}</strong></h1>

        <!-- Contact List -->
        <ul class="list-unstyled list-unstyled-icons">
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>
                {{ 'Am Mühlweiher 9' }}<br/>
                {{ '91085 Weisendorf' }}<br/>
                {{ 'CONTACT.GERMANY' | translate }}
            </li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-envelope"></i>
                <span>{{ 'contact@sebastianhof.com' }}</span>
            </li>
            <li><i class="inline-icon icon-before-and-after text-primary fa fa-phone"></i>{{ '+49 (0)151 22902263' }}
            </li>
        </ul>

        <!-- Social media -->
        <a class="btn btn-primary" ng-click="contact.toggleContactForm()"><span>{{ 'CONTACT.USE_CONTACT_FORM' | translate }}</span><i
                class="ti-email"></i></a>
        <h5 class="margin-t-60">{{ 'CONTACT.SOCIAL_MEDIA' | translate }}</h5>
        <ul class="list-inline">
            <li><a href="https://linkedin.com/in/sebastianhof" class="icon icon-xs"><i
                    class="fa fa-2x fa-linkedin text-muted"></i></a></li>
            <li><a href="https://www.xing.com/profile/Sebastian_Hof7" class="icon icon-xs"><i
                    class="fa fa-2x fa-xing text-muted"></i></a></li>
            <li><a href="https://github.com/sebastianhof" class="icon icon-xs"><i
                    class="fa fa-2x fa-github text-muted"></i></a></li>
            <li><a href="https://www.facebook.com/1656428665" class="icon icon-xs"><i
                    class="fa fa-2x fa-facebook text-muted"></i></a></li>
            <li><a href="https://twitter.com/snhof" class="icon icon-xs"><i
                    class="fa fa-2x fa-twitter text-muted"></i></a></li>
        </ul>
    </div>

</section>
<!-- Section - Contact / End -->


<!-- Messenger -->
<a id="messenger-toggle" class="icon icon-sm icon-circle animated visible bounceIn" ng-click="contact.toggleContactForm()">
    <i class="fa fa-comments"></i>
</a>
<div id="messenger" class="dark">
    <div id="messenger-box">
        <div class="messenger-box-content">
            <!-- Close -->
            <a class="messenger-close icon icon-hover icon-xs icon-circle icon-white" ng-click="contact.toggleContactForm()"><i
                    class="fa fa-times"></i></a>
            <!-- Avatar -->
            <img src="images/profile-96.png" alt="..." class="img-circle margin-b-30">

            <h3>{{ 'CONTACT.FILL_IN_TEXT' | translate }}</h3>
            <!-- Contact Form -->
            <form id="contact-form" name="contactForm" ng-submit="contact.submit(contactForm)">
                <div ng-if="contact.error">
                    <div class="alert alert-danger">{{ 'CONTACT.ERROR_MESSAGE' | translate }}</div>
                </div>
                <div ng-if="contact.success">
                    <div class="alert alert-success">{{ 'CONTACT.SUCCESS_MESSAGE' | translate }}</div>
                </div>
                <div class="alert alert-default" ng-if="contactForm.$error">
                    <ul>
                        <li ng-if="contactForm.name.$error.required">{{ 'CONTACT.NAME_TEXT' | translate }}</li>
                        <li ng-if="contactForm.email.$error.required">{{ 'CONTACT.EMAIL_TEXT' | translate }}</li>
                        <li ng-if="contactForm.email.$error.email">{{ 'CONTACT.EMAIL_VALID_TEXT' | translate }}</li>
                        <li ng-if="contactForm.message.$error.required">{{ 'CONTACT.MESSAGE_TEXT' | translate }}</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>{{ 'CONTACT.NAME' | translate }}</label>
                    <input type="text" class="form-control" name="name" required
                           ng-model="contact.data.name"/>
                </div>
                <div class="form-group">
                    <label>{{ 'CONTACT.EMAIL' | translate }}</label>
                    <input type="email" class="form-control"
                           id="email" name="email" required ng-model="contact.data.email"/>
                </div>
                <div class="form-group">
                    <label>{{ 'CONTACT.MESSAGE' | translate }}</label>
                    <textarea rows="5" class="form-control"
                              name="message" required ng-model="contact.data.message" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-secondary"><span>{{ 'CONTACT.SEND' | translate}}</span><i
                        class="ti-email"></i></button>
            </form>
        </div>
    </div>
</div>

<view-loaded></view-loaded>