<!-- Contact Section -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <i class="fa fa-4x fa-envelope"></i>

                <div class="intro-text">
                    <span class="name">{{ 'CONTACT' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form id="contactForm" name="contactForm" ng-submit="contact.submit(contactForm)">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="{{ 'CONTACT.NAME' | translate }}" id="name" name="name" required
                                   data-validation-required-message="{{ 'CONTACT.NAME_TEXT' | translate }}" ng-model="contact.data.name">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" class="form-control" placeholder="{{ 'CONTACT.EMAIL' | translate }}" id="email" name="email" required
                                   data-validation-required-message="{{ 'CONTACT.EMAIL_TEXT' | translate }}" ng-model="contact.data.email">

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea rows="5" class="form-control" placeholder="{{ 'CONTACT.MESSAGE' | translate }}" id="message" name="message" required
                                      data-validation-required-message="{{ 'CONTACT.MESSAGE_TEXT' | translate }}" ng-model="contact.data.message"></textarea>

                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>

                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-blue btn-lg">{{ 'CONTACT.SEND' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>