<!-- Section - Home -->
<section id="start" class="section fullheight bg-secondary dark padding-v-60">

    <!-- BG Image -->
    <div class="bg-image animated infinite zooming bg-home"></div>

    <!-- Middle -->
    <div class="container container-wide v-bottom padding-v-80">
        <h1 class="text-lg margin-b-0">{{ 'HOME.GREETING' | translate }} <strong>{{ 'HOME.TITLE' | translate }}</strong>
        </h1>
        <h5 class="margin-b-40">{{ 'HOME.DESCRIPTION' | translate }}</h5>
        <span><a href="#/about" class="btn btn-lg btn-primary"><span>{{ 'ABOUT.ABOUT' | translate }}</span><i
                class="ti-user"></i></a></span>
    </div>

</section>
<!-- Section - Home / End -->

<section class="section padding-60">

    <div class="container container-wide">

        <h6 class="margin-b-50">{{ 'HOME.SERVICES' | translate }}</h6>

        <div class="row padding-lg">

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon"><i class="fa fa-pencil text-blue"></i></span>

                <h4><strong>{{ 'SERVICES.DESIGN' | translate }}</strong></h4>

                <p class="lead">{{ 'SERVICES.DESIGN_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon"><i class="fa fa-code text-blue"></i></span>

                <h4><strong>{{ 'SERVICES.DEVELOPMENT' | translate }}</strong></h4>

                <p class="lead">{{ 'SERVICES.DEVELOPMENT_TEXT' | translate }}</p>


            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon"><i class="fa fa-bar-chart text-blue"></i></span>

                <h4><strong>{{ 'SERVICES.ANALYTICS' | translate }}</strong></h4>

                <p class="lead">{{ 'SERVICES.ANALYTICS_TEXT' | translate }}</p>

            </div>

        </div>

    </div>

</section>

<section class="section padding-60">

    <div class="container container-wide">

        <h6 class="margin-b-50">{{ 'HOME.FRAMEWORKS_TECHNOLOGIES' | translate }}</h6>

        <div class="row padding-lg">

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/angularjs.png" class="img-home"></i>
                </span>

                <h4><strong>AngularJS</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.ANGULAR_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/nodejs.png" class="img-home"></i>
                </span>

                <h4><strong>NodeJS</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.NODEJS_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/mongodb.png" class="img-home"></i>
                </span>

                <h4><strong>MongoDB</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.MONGO_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/ios.png" class="img-home"></i>
                </span>

                <h4><strong>iOS</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.IOS_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/ionic.png" class="img-home"></i>
                </span>

                <h4><strong>Ionic</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.IONIC_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/play.png" class="img-home"></i>
                </span>

                <h4><strong>Play Framework</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.PLAY_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/javaee.png" class="img-home"></i>
                </span>

                <h4><strong>Jave EE</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.JAVAEE_TEXT' | translate }}</p>

            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">

                <span class="icon">
                    <img src="images/aspnet.png" class="img-home"></i>
                </span>

                <h4><strong>ASP.NET</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.ASPNET_TEXT' | translate }}</p>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">

                <span class="icon">
                    <img src="images/spark.png" class="img-home"></i>
                </span>

                <h4><strong>Apache Spark</strong></h4>

                <p>{{ 'FRAMEWORKS_TECHNOLOGIES.SPARK_TEXT' | translate }}</p>

            </div>

        </div>

    </div>


</section>

<load-template></load-template>

