<!-- Section - Home -->
<section id="start" class="section fullheight bg-secondary dark padding-v-60">

    <!-- BG Image -->
    <div class="bg-image animated infinite zooming"><img src="/images/desktop.jpg" alt="..."></div>

    <!-- Middle -->
    <div class="container container-wide v-bottom padding-v-80">
        <h1 class="text-lg margin-b-0">{{ 'HOME.WELCOME' | translate }} <strong>{{ 'HOME.NAME' | translate }}</strong>
        </h1>
        <h5 class="text-tertiary margin-b-40">{{ 'HOME.JOB_TITLE' | translate }}</h5>
        <span data-target="local-scroll"><a href="#/about" class="btn btn-lg btn-primary"><span>{{ 'ABOUT' | translate }}</span><i
                class="ti-user"></i></a></span>
        <a href="#" class="btn btn-link"><span>{{ 'CV' | translate }}</span><i class="ti-file"></i></a>
    </div>

</section>
<!-- Section - Home / End -->

<section class="section padding-60">

    <div class="row">

        <div class="col-lg-4">
            <div class="text-center">
                <i class="fa fa-3x fa-pencil"></i>

                <h3>{{ 'DESIGN' | translate }}</h3>

                <p class="text-justify">{{ 'DESIGN_TEXT' | translate }}</p>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <i class="fa fa-3x fa-code"></i>

                <h3>{{ 'DEVELOPMENT' | translate }}</h3>

                <p class="text-justify">{{ 'DEVELOPMENT_TEXT' | translate }}</p>

            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <i class="fa fa-3x fa-bar-chart"></i>

                <h3>{{ 'ANALYTICS' | translate }}</h3>

                <p class="text-justify">{{ 'ANALYTICS_TEXT' | translate }}</p>

            </div>
        </div>

    </div>

</section>

<section class="section padding-60">

        <div class="row">

            <div class="col-lg-12">
                <div class="text-center">
                    <h3>{{ 'FRAMEWORKS_TECHNOLOGIES' | translate }}</h3>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/angularjs.png" class="img-home"></div>
                    <h4>AngularJS</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/nodejs.png" class="img-home"></div>
                    <h4>NodeJS</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/play.png" class="img-home"></div>
                    <h4>Play Framework</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/ios.png" class="img-home"></div>
                    <h4>iOS</h4>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top: 50px;">

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/javaee.png" class="img-home"></div>
                    <h4>Java EE</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/mongodb.png" class="img-home"></div>
                    <h4>MongoDB</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/cassandra.svg" class="img-home"></div>
                    <h4>Cassandra</h4>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="text-center">
                    <div><img src="images/spark.png" class="img-home"></div>
                    <h4>Apache Spark</h4>
                </div>
            </div>

        </div>

    </div>
</section>
